<header class="p-3 text-bg-dark">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
      >
        <span
          class="bs-icon-sm bs-icon-circle bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon"
        >
          <i class="fa-brands fa-airbnb main-logo">Airbnb</i>
        </span>
      </a>

      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li>
          <a
            href="/"
            class="nav-link px-3 text-white <%= pageInfo.title === 'All listings' ? 'active' : '' %>"
            >All listings</a
          >
        </li>
        <li>
          <a
            href="/listing/add-listing"
            class="nav-link px-3 text-white <%= pageInfo.title === 'Add new listing' ? 'active' : '' %>"
            >Add new listing</a
          >
        </li>
        <li>
          <a
            href="/host/add-host"
            class="nav-link px-3 text-white <%= pageInfo.title === 'Add new host' ? 'active' : '' %>"
            >Add new host</a
          >
        </li>
      </ul>

      <form
        class="row row-cols-lg-auto g-3 align-items-center"
        role="search"
        action="/"
      >
        <div class="col-12">
          <label class="visually-hidden" for="inlineFormInputGroupUsername"
            >Username</label
          >
          <% if(typeof search !== 'undefined'){ var search = "" } %>
          <input
            type="text"
            name="search"
            id="search"
            class="form-control form-control-dark"
            placeholder="Search..."
            value="<%= search %>"
            aria-label="Search"
          />
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-warning">Submit</button>
        </div>
      </form>
    </div>
  </div>
</header>
