body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.main-logo {
  letter-spacing: 4px;
}

.active {
  color: #ffc107 !important;
  font-weight: bold;
}

.form-group.required .form-label:after {
  content: '*';
  color: red;
}

.short-description {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-weight: normal;
}

.short-description {
}
